@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600;700&family=Open+Sans:wght@500&display=swap');



* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('assets/fundo-predios.jpg');
}

header {

    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
}

article {
    background-color: white;
    margin: 0px 8px;
    border-radius: 10px;
    padding: 10px;
    
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px 8px;
}


.form input{
    margin-top: 7px;
    margin-bottom: 20px;

    padding: 5px;
    border-radius: 15px;
    border: none;
    border: 1px solid black;
}